<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} - Python Boot Camp for Researchers</title>
    <meta name="viewport" content="width=device-width"/>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css"/>

    <!-- Google Webmaster Tools -->
    <meta name="google-site-verification" content="Tq1huCSuX9fr6gFFNdFqC93ZyZIkoA_LwgRD1zofJFA" />
  </head>
  <body>

    <div id="container">
      <div id="content">
{{ content }}
      </div>
    </div>
    {% if site.analytics == "on" %}
    {% include analytics.html %}
    {% endif %}
  </body>
</html>
