<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width"/>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css"/>

    <!-- Google Webmaster Tools -->
    <meta name="google-site-verification" content="Tq1huCSuX9fr6gFFNdFqC93ZyZIkoA_LwgRD1zofJFA" />
  </head>
  <body>

    <div id="container">
      <div id="content">
<div class="titleblock">
  <div class="title">
    <h1>{{ page.title }}</h1>
    <h2><a href="/">{{ site.name }}</a></h2>
    <h3><a href="..">Constantine Lignos</a></h3>
  </div>
</div>
<hr />
{{ content }}

<hr />
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.en_US">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
      </div>
    </div>
    {% if site.analytics == "on" %}
    {% include analytics.html %}
    {% endif %}
  </body>
</html>
